#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LWR 1
#define RSE 2
#define ADJ 3

/ {
    combos {
        compatible = "zmk,combos";

        combo5 {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <39 40>;
        };

        combo6 {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <43 44>;
        };

        combo7 {
            bindings = <&kp BACKSLASH>;
            key-positions = <17 18>;
        };

        combo8 {
            bindings = <&kp PIPE>;
            key-positions = <29 30>;
        };

        combo9 {
            bindings = <&kp ESC>;
            key-positions = <13 14>;
        };

        combo10 {
            bindings = <&kp TAB>;
            key-positions = <25 26>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC     &kp N1  &kp N2  &kp N3       &kp N4       &kp N5           &kp N6         &kp N7         &kp N8     &kp N9   &kp N0    &kp BSPC
&kp TAB     &kp Q   &kp W   &kp E        &kp R        &kp T            &kp Y          &kp U          &kp I      &kp O    &kp P     &kp MINUS
&kp LSHIFT  &kp A   &kp S   &kp D        &kp F        &kp G            &kp H          &kp J          &kp K      &kp L    &kp SEMI  &kp SQT
&kp LCTRL   &kp Z   &kp X   &kp C        &kp V        &kp B            &kp N          &kp M          &kp COMMA  &kp DOT  &kp FSLH  &kp BSLH
                            &lt 0 SPACE  &lt 0 ENTER  &kp PAGE_UP      &kp RIGHT_ALT  &kp RIGHT_GUI  &none
                                         &mo 0        &kp PAGE_DOWN    &kp RCTRL      &kp DEL
            >;
        };
    };
};
